
body{
   background-image: url(./style/img/TheShop.png);
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
}
.top{
    font-family: 'Libre Baskerville', serif;
   
}
header{
    font-family: 'Libre Baskerville', serif;
}
body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-family: 'Libre Baskerville', serif; 
}
.nav{
    font-family: 'Libre Baskerville', serif;
}